.custom-confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  color: white;
}

.custom-confirm-dialog h2 {
  text-align: center;
}

.custom-confirm-dialog p {
  text-align: center;
}

.custom-confirm-dialog button {
  margin: 0 10px;
}

.custom-confirm-dialog button.disabled {
  color: #ccc;
  background-color: #eee;
}

